# ============================================================
# DATABASE
# ============================================================

SPRING_DATASOURCE_URL=jdbc:postgresql://enterprise-postgres:5432/enterprise_ai_assistant
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=CHANGE_ME


# ============================================================
# JPA / HIBERNATE
# ============================================================

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_FORMAT_SQL=true


# ============================================================
# FLYWAY
# ============================================================

SPRING_FLYWAY_ENABLED=false
SPRING_FLYWAY_BASELINE_ON_MIGRATE=false

# ============================================================
# MINIO
# ============================================================

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=CHANGE_ME
MINIO_SECRET_KEY=CHANGE_ME
MINIO_BUCKET=files


# ============================================================
# QDRANT
# ============================================================

QDRANT_HOST=qdrant
QDRANT_GRPC_PORT=6334
QDRANT_REST_PORT=6333
QDRANT_COLLECTION_NAME=document_chunks
QDRANT_VECTOR_SIZE=3072
QDRANT_SCORE_THRESHOLD=0.65
QDRANT_USE_TLS=false
QDRANT_API_KEY=


# ============================================================
# GEMINI
# ============================================================

GEMINI_API_KEY=CHANGE_ME

GEMINI_EMBEDDING_MODEL=gemini-embedding-001

GEMINI_LLM_MODEL=gemini-3.1-flash-lite
GEMINI_LLM_TEMPERATURE=0.2


# ============================================================
# JWT
# ============================================================

JWT_ACCESS_TOKEN_SECRET=CHANGE_ME
JWT_ACCESS_TOKEN_EXPIRATION=900000

JWT_REFRESH_TOKEN_SECRET=CHANGE_ME
JWT_REFRESH_TOKEN_EXPIRATION=604800000